<header class="intro">
    <h1 class="intro__title">COMING SOON</h1>
    <p class="intro__subtitle">
      <span>it's been too long lfg</span>
      <span id="countdown">
        <span><span id="days"></span>days</span>
        <span><span id="hours"></span>hrs</span>
        <span><span id="minutes"></span>mins</span>
        <span><span id="seconds"></span>secs</span>
      </span>
    </p>
</header>