 <li class="work__item">
  <p class="work__title">{{ play.title }}</p>
  <a class="work__link" target="_blank" href='{{ play.link }}'>check it out ↗</a>
  <img class="work__img" src='/img/play/{{ play.img }}.jpg' alt="">
</li>