 <li class="work__item">
  <p class="work__title">{{ work.title }}</p>
  <a class="work__link" target="_blank" href='{{ work.link }}'>Go to work ↗</a>
  <img class="work__img" src='/img/work/{{ work.img }}.jpg' alt="">
</li>