.intro {
  text-transform: uppercase;
  margin-bottom: 3.5rem;
  display: grid;
  @include screen(md) {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(10, 1fr);
    align-content: start;
    grid-template-rows: auto auto auto;
  }
  &__title {
    font-family: $font--display;
    font-size: 6rem;
    line-height: 0.85;
    margin-bottom: 1.5rem;
    @include screen(md) {
      margin-top: 4rem;
      margin-bottom: 1.2rem;
      grid-column: 2 / 5;
      font-size: 8rem;
    }
  }
  &__subtitle {
    line-height: 100%;
    margin-bottom: 2rem;
    @include screen(md) {
      font-size: 1.5rem;
      grid-column: 5 / end;
      grid-row: 3 / 3;
    }
    span {
      display: block;
      &:nth-of-type(2) {
        color: var(--color--grey-36);
      }
      &:nth-of-type(1) {
        color: var(--color--grey-44);
        @include screen(md) {
          // font-family: $font--display;
          // text-transform: lowercase;
          // font-size: 2.5rem;
        }
      }
      &:nth-of-type(3) span {
        // color: var(--color--light-copy);
        // display: inline-block;
      }
    }
  }
  #booking {
    color: var(--color--light-copy);
    display: inline-block;
  }
}
