.about {
  &__bio {
    font-size: 1.2rem;
    line-height: 1.6rem;
    p:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
    span {
      display: block;
    }
  }
  &__bio,
  .container--header {
    @include screen(md) {
      display: grid;
      grid-column-gap: 1rem;
      grid-template-columns: repeat(10, 1fr);
      align-content: start;
      & > * {
        grid-column: 2 / 9;
      }
    }
  }

  &__skills {
    margin: 0.8rem 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__skill {
    font-size: 2.45rem;
    line-height: 3rem;
    flex: 1 0 auto;
    font-family: $font--display;
    font-weight: unset;
    margin-right: 1rem;
    margin: auto;
    @include screen(md) {
      // font-size: 2.2rem;
    }
    span {
      font-family: $font--print;
      font-weight: 900;
    }
    &:nth-of-type(2n+4),
    &:nth-of-type(3n) {
      font-family: $font--print;
      font-weight: 900;
    }
    &:nth-of-type(4n) {
      font-family: $font--display;
      font-weight: unset;
    }
  }
  &__link {
    text-decoration: none;
    color: var(--color--light-accent)
  }
}