.work {
  @include screen(md) {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(10, 1fr);
    align-content: start;
  }
  &__list {
    padding-top: 5rem;
  }
  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    margin-bottom: 1.5rem;
    grid-column-gap: 1rem;
    position: relative;
    @include screen(md) {
      &:nth-of-type(odd) {
        // border: 1px solid red;
        grid-column: 5 / end;
      }
      &:nth-of-type(even) {
        // border: 1px solid blue;
        grid-column: 3 / end;
      }
      &:nth-of-type(3n) {
        // border: 1px solid green;
        grid-column: 4 / end;
      }
    }
    
  }
  &__title {
    font-size: 2rem;
    font-family: $font--display;
    text-transform: uppercase;
    margin: 0;
    @include screen(md) {
      font-size: 3rem;
    }
  }
  &__link {
    // display: none;
    opacity: 0;
    transition: opacity 0.2s;
    color:inherit;
    text-decoration: none;
    font-size: 0.75rem;
    text-transform: uppercase;
    &:hover {
      opacity: 1;
    }
    &:before {
      position: absolute;
      content: '';
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
.works {
  display: grid;
  grid-gap: 0.8rem;
  // justify-items: center;
  .page__title {
    grid-row: unset;
    grid-column: unset;
  }
}
