.writing {
  &__items {
    @include screen(md) {
      // display: grid;
      // grid-column-gap: 1rem;
      // grid-template-columns: repeat(10, 1fr);
      // align-content: start;
    }
  }
  &__list {
    display: grid;
    grid-gap: 3rem;
    @include screen(md) {
      grid-column: 2 / 10;
    }
  }
  &__tags {
    display: flex;
  }
  &__tag {
    text-transform: uppercase;
    color: var(--color--grey-44);
    font-size: 1rem;
    line-height: 100%;
    align-self: flex-end;
    &:not(:last-child)::after {
      content: '—';
      margin: 0 0.5em;
      display: inline-block;
    }
  }
  &__tags-container{
    font-size: 2.45rem;
    line-height: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
  &__tag-sum {
    flex: 1 0 auto;
    font-family: $font--display;
    font-weight: unset;
    margin-right: 1rem;
    &:nth-of-type(2n+4),
    &:nth-of-type(3n) {
      font-family: $font--print;
      font-weight: 900;
    }
    &:nth-of-type(4n) {
      font-family: $font--display;
      font-weight: unset;
    }
  }
}