.texture {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../../img/bg--marble-light.jpg);
  // background-image: url(../../img/bg--marble-dark.jpg);
  // background-image: url(../../img/bg--metal-light.jpg);
  // background-image: url(../../img/bg--metal-dark.jpg);
  background-size: cover;
  opacity: 0.08;
  z-index: 2;
  width: 110vw;
  height: 100%;
  mix-blend-mode: multiply;
  pointer-events: none
}

main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  // border: red solid 2px;
  @include screen(md) {
    max-width: 50rem;
  }
}

footer {
  padding-top: 3rem;
  // padding-bottom: 2rem;
  text-align: right;
  // height: 40rem;
}

.page {
  padding-top: 5rem;
  .page__header {
    @include screen(md) {
      display: grid;
      grid-column-gap: 1rem;
      grid-template-columns: repeat(10, 1fr);
      align-content: start;
      grid-template-rows: repeat(3, 9rem);
    }
  }
  .page__img {
    overflow: hidden;
  }
  &__title {
    font-family: $font--display;
    font-size: 6rem;
    line-height: 0.75;
    padding-bottom: 5rem;
    // text-shadow: 2px 2px var(--color--light-bg);
      @include screen(md) {
        grid-column: 4 / end;
        grid-row: 3 / -1;
        align-self: end;
      }
    span {
      display: block;
      margin-left: 60px;
      @include screen(md) {
        display: inline-block;
      }
    }
    &--center {
      text-align: center;
    }
  }
  &__img {
    height: 25rem;
    width: 100%;
    // width: 34rem;
    background-color: var(--color--shadow);
    @include screen(md) {
      grid-column: 2 / 8;
      grid-row: 1 / 3;
    }
  }
  &.page--about .page__title,
  &.page--writing .page__title,
  &.page--work .page__title,
  &.page--contact .page__title {
    padding-bottom: 0rem;
    text-shadow: 2px 2px 20px var(--color--light-bg);
  }
}

.container {
  max-width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.full-bleed {
  width: 100vw;
  margin-left: 50% !important;
  transform: translateX(-50%);
  @include screen(md) {
    width: unset;
    margin-left: unset !important;
    transform: unset;
    width: 50vw;
    margin: 0 auto !important;
  }
}

// layout in post
@include screen(md) {
  .post .container {
    // padding: 0;
  }
}