@font-face {
  font-family: Ogg;
  font-style: normal;
  font-weight: 400;
  src: url(../../css/fonts/display.ttf);
}

@font-face {
  font-family: Visuelt Pro;
  font-style: normal;
  font-weight: 400;
  src: url(../../css/fonts/print-regular.ttf);
}

@font-face {
  font-family: Visuelt Pro;
  font-style: normal;
  font-weight: 900;
  src: url(../../css/fonts/print-black.ttf);
}