.header {
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--color--shadow);
  display: grid;
  grid-gap: 0.8rem;
  justify-items: center;
  &:before,
  &:after {
    background-color: currentColor;
    height: 6rem;
    width: 0.01rem;
    width: 0.5px;
    display: block;
  }
  &--after {
    &:after {
      content: '';
      margin-bottom: 0.5rem;
    }
  }
  &--before,
  &--side {
    &:before {
      content: '';
      margin-top: 0.5rem;
    }
  }
}