---
layout: layouts/base.njk
title: Alsu - About | Developer & UX Designer
---

<header class="site-header container">
  <div class="logo">
    <a class="logo__link" href="/"> ← return to home</a>
    <img src="../img/logo.png" alt="site's logo" class="logo__img">
  </div>
  {% include 'components/nav.njk' %}
</header>

<article class="page page--about about">
  <div class="container">
    <div class="page__header">
      <div class="page__img">
        <img src="../img/headshot.jpg" alt="">
      </div>
      <h1 class="page__title">hi, <span>I'm Alsu</span></h1>
    </div>
  </div>

  <section class="about__sum">
    <div class="container container--header">
      <h2 class="header header--before">tldr;</h2>
    </div>
    <div class="about__skills full-bleed">  

      <span class="about__skill">
        user&nbsp;experience&nbsp;
        <span>design</span>
      </span>

      <span class="about__skill">
        <span>JS</span>&nbsp;&&nbsp;CSS
      </span>

      <span class="about__skill">react</span>

      <span class="about__skill">
        web<span>GL</span>
      </span>

      <span class="about__skill">SVG</span> 

      <span class="about__skill">
        <span>generative</span>&nbsp;art
      </span>
      
      <span class="about__skill">corgis</span>
      <span class="about__skill">accessibility</span>
      <span class="about__skill">teaching</span>
    </div>
    
    <div class="container container--header">
      <h2 class="header header--before header--after">long bio</h2>
    </div>
  </section>
  <div class="container">
    <section class="about__bio">
      <p>I’m a UX designer & developer currently based in Montreal. I push for creativity, unusual patterns, strong tech and advocate ideas using the power of code & design.</p>  
      <p>I love anything to do with generative art, WebGL and SVGs among other things. I tend to work in React framework. Big fan of UX. Typography is my love, animation is the ultimate escape, accessibility is my trusted friend.</p> 
      <p>Outside of a browser window, I split my time between leading <a class="about__link" href="https://www.canadalearningcode.ca/">Canada Learning Code</a> workshops, baking half decent vegan treats and sharing funny corgi videos.</p> 
      <p><strong>I’m available for freelance work and short-term contracts. <span>Booking for Feb 2021</span></strong></p>
    </section>
  </div>

</article>

{# {% include 'components/footer.njk' %} #}
