---
layout: layouts/base.njk
title: ALSU | Creative Technologist
---
{% set nav = {isLeft: true} %}

<div class="container">
  {% include 'components/intro.njk' %}
</div>
<span>{{ contentful }}</span>
<section>
  <div class="container">
    <h2 class="header header--after">Work</h2>
    <ul class="work">
    {% set works = [
        {link: 'https://mocanaexhibits.com', title: 'mōcana', img: 'img_6'},
        {link: 'http://facet.ai', title: 'facet AI', img: 'img_2--new'},
        {link: 'http://tdaeroplan.com', title: 'TD Aeroplan', img: 'img_4--new'},
        {link: 'http://dairygoodness.ca/milk-in-school/new-brunswick-nova-scotia', title: 'School Milk', img: 'img_5--new'},
        {link: 'http://exo.quebec/rem', title: 'exo rem', img: 'img_1--new'}
      ] 
    %}
    {% for work in works %}
      {% include 'components/work-list-item.njk' %}
    {% endfor %}

    </ul>
  </div>
</section>

{# {% include 'components/footer.njk' %} #}

{# <section class="cta">
  <h2 class="header header--before header--after">Info</h2>
  <a class="cta__header" href="/about">about</a>
</section>

<section class="cta">
  <h2 class="header header--before header--after">Little Blog</h2>
  <a class="cta__header" href="/writing">writing</a>
</section> #}