---
layout: layouts/base.njk
title: Alsu - Portfolio | Developer & UX Designer
---

<header class="site-header container">
  <div class="logo">
    <a class="logo__link" href="/"> ← return to home</a>
    <img src="../img/logo.png" alt="site's logo" class="logo__img">
  </div>
  {% include 'components/nav.njk' %}
</header>

<article class="page page--work">
  <div class="container">
    <section class="works">
      <h1 class="page__title page__title--center">experiments</span></h1>
      <div class="container">
        <h2 class="header header--before header--after">this is the place we play, frolic and experiment with typography, animation and other shiny objects</h2>
      </div>
      <ul class="work">
        {% set plays = [
          {link: 'https://local-treasure-sombrero.glitch.me/', title: 'audio reactive visuals', img: 'audio1'},
          {link: '/play/kinetic_donut', title: 'issadonut', img: 'donut'},
          {link: '/play/isnt_this_fun', title: 'fun fun', img: 'fun'},
          {link: '/play/all_over_the_place', title: 'all over', img: 'allover'},
          {link: '/play/dance_into_the_chaos', title: 'chaos dance', img: 'dance'},
          {link: '/play/glitch', title: 'glitch', img: 'glitch'},
          {link: '/play/not_my_rosy_self', title: 'rosy self', img: 'rose'}
        ] %}
        {% for play in plays %}
          {% include 'components/play-list-item.njk' %}
        {% endfor %}
      </ul>
    </section>
  </div>
</article>

{# {% include 'components/footer.njk' %} #}
