---
layout: layouts/base.njk
title: Alsu - Portfolio | Developer & UX Designer
---

<header class="site-header container">
  <div class="logo">
    <a class="logo__link" href="/"> ← return to home</a>
    <img src="../img/logo.png" alt="site's logo" class="logo__img">
  </div>
  {% include 'components/nav.njk' %}
</header>

<article class="page page--work">
  <div class="container">
    SUCCESS
  </div>
</article>