---
tags: work
layout: layouts/base.njk
---

<div class="grid g3">
    <a aria-label="link-3" target="_blank" rel="noopener" draggable="false" class="link w-inline-block">
        <h1 class="h1">los angeles</h1>
        <div class="text">ranger pickup</div>
        <img class="content__img" src="/img/demo3/img1.jpg" alt="img1"/>
    </a>
    <div class="div-block">
        {# <img src="img/slash.svg" alt="slash" class="image" /> #}
    </div>
    <a aria-label="link-3" target="_blank" rel="noopener" draggable="false" class="link w-inline-block">
        <h1 class="h1">california</h1>
        <div class="text">city lights</div>
        <img class="content__img" src="/img/demo3/img2.jpg" alt="img2"/>
    </a>
</div>