---
tags: work
layout: layouts/base.njk
---

{%- for work in collections.work -%}
  <h2>{{ work.data.title }}</h2>
{%- endfor -%}


<div class="grid">
  <div class="grid-items">
    <a aria-label="link-1" target="_blank" rel="noopener" draggable="false" class="link w-inline-block">
      <h1 class="h1">montmartre</h1>
      <div class="text">cemetery, paris</div>
      <img class="content__img" src="/img/demo1/img1.jpg" alt="img1" />
    </a>
    <div class="divider"></div>
    <a aria-label="link-2" target="_blank" rel="noopener" draggable="false" class="link w-inline-block">
      <h1 class="h1">bir-hakem</h1>
      <div class="text">bridge, paris</div>
      <img class="content__img" src="/img/demo1/img2.jpg" alt="img2"/>
    </a>
  </div>
  <div class="grid-items g2">
    <div class="divider d2"></div>
    <a aria-label="link-3" target="_blank" rel="noopener" draggable="false" class="link w-inline-block">
      <h1 class="h1">république</h1>
      <div class="text">people, paris</div>
      <img class="content__img" src="/img/demo1/img3.jpg" alt="img3" />
    </a>
    <div class="divider d3"></div>
  </div>
</div>
