---
tags: work
layout: layouts/base.njk
---

 <div class="grid">
	<a aria-label="link-1" target="_blank" rel="noopener" draggable="false" class="link l-d2 w-inline-block">
			<h1 class="h1">buckskin</h1>
			<div class="text">people, arizona</div>
			<img class="content__img" src="/img/demo2/img1.jpg" alt="img1"/>
	</a>
	<a aria-label="link-2" target="_blank" rel="noopener" draggable="false" class="link l-d2 w-inline-block">
			<h1 class="h1">antelope</h1>
			<div class="text">arizona, usa</div>
			<img class="content__img" src="/img/demo2/img2.jpg" alt="img2"/>
	</a>
	<a aria-label="link-3" target="_blank" rel="noopener" draggable="false" class="link l-d2 w-inline-block">
			<h1 class="h1 h-d2">pulpit rock</h1>
			<div class="text">fjords, norway</div>
			<img class="content__img" src="/img/demo2/img3.jpg" alt="img3"/>
	</a>
</div>