---
layout: layouts/base.njk
title: Alsu - Portfolio | Developer & UX Designer
---

<header class="site-header container">
  <div class="logo">
    <a class="logo__link" href="/"> ← return to home</a>
    <img src="../img/logo.png" alt="site's logo" class="logo__img">
  </div>
  {% include 'components/nav.njk' %}
</header>

<article class="page page--work">
  <div class="container">
    <section class="works">
      <h1 class="page__title page__title--center">portfolio work</h1>
      <div class="container">
        <h2 class="header header--before header--after">work</h2>
      </div>
      <ul class="work">
        {% set works = [
          {link: 'https://mocanaexhibits.com', title: 'mōcana', img: 'img_6'},
          {link: 'http://facet.ai', title: 'facet AI', img: 'img_2--new'},
          {link: 'http://tdaeroplan.com', title: 'TD Aeroplan', img: 'img_4--new'},
          {link: 'http://dairygoodness.ca/milk-in-school/new-brunswick-nova-scotia', title: 'School Milk', img: 'img_5--new'},
          {link: 'http://exo.quebec/rem', title: 'exo rem', img: 'img_1--new'}
        ] %}
        {% for work in works %}
          {% include 'components/work-list-item.njk' %}
        {% endfor %}
      </ul>
    </section>
  </div>
</article>

{# {% include 'components/footer.njk' %} #}
